<body>
    <div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-7">
                        <form class="form" action="" method="post">
                            <h3 class="text-center text-info">Novi cenovnik</h3>

                            <div class="form-group">
                                <label for="Datum od" class="text-info">Datum OD:</label><br>
                                <input type="date" name="naziv" class="form-control" placeholder="Datum od" [(ngModel)]="this.priceList.datumOd" required>
                            </div>

                            <div class="form-group">
                                <label for="Datum do" class="text-info">Datum DO:</label><br>
                                <input type="date" name="naziv" class="form-control" placeholder="Datum do" [(ngModel)]="this.priceList.datumDo" required>
                            </div>

                            <div class="form-group">
                                <label for="dan" class="text-info">Tip karte:</label><br>
                                <select name="dan" class="form-control" [(ngModel)]="this.priceList.tipKarte" required>
                                        <option value="jednokratna" selected>Jednokratna</option>
                                        <option value="dnevna">Dnevna</option>
                                        <option value="mesecna">Mesečna</option>
                                        <option value="mesecnaskolska">Mesečna školska</option>
                                        <option value="mesecnapenzionerska">Mesečna penzionerska</option>
                                    </select>
                            </div>

                            <div class="form-group">
                                <label for="Cena" class="text-info">Cena:</label><br>
                                <input type="text" id="aresa" name="adresa" class="form-control" [(ngModel)]="this.priceList.cena" required>
                            </div>

                            <div class="form-group" id="buttons">
                                <button (click)="addPriceList()" class="btn btn-primary">Sačuvaj</button>
                                <button (click)="returnHome()" class="btn btn-danger">Otkaži</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>