<body>
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title"></div>
            <table class="table table-bordered table-hover table-dark">
                <thead>
                    <tr>
                        <th>ID vozila</th>
                        <th>ID trenutnog stajališta</th>
                        <th>ID linije</th>
                        <th>Tip vozila</th>
                        <th style="width: 15%">Akcije</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let vehicle of vehicles; let i = index">
                        <td>
                            {{vehicle.id}}.
                        </td>
                        <td>
                            {{vehicle.idTrenutnoStajaliste}}
                        </td>
                        <td>
                            {{vehicle.linijaString}}
                        </td>
                        <td>
                            {{vehicle.tip}}
                        </td>
                        <td>
                            <button (click)='deleteVehicle(vehicle.id)' *ngIf="applicationEmployee" type="button" class="btn btn-danger">Obriši</button>
                            <button type="button" (click)='editVehicle(vehicle.id)' *ngIf="applicationEmployee" class="btn btn-warning">Izmeni</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="form-group" id="button">
                <button id="return" (click)="returnHome()" class="btn btn-success">Početna stranica</button>
            </div>
        </div>
    </div>
</body>