<body>
    <div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-7">
                        <form class="form" action="" method="post">
                            <h3 *ngIf="router.url === '/add-ticket'" class="text-center text-info">Kupovina karte</h3>
                            <h3 *ngIf="router.url !== '/add-ticket'" class="text-center text-info">Aktivacija karte</h3>
                            <div *ngIf="router.url === '/add-ticket'" class="form-group">
                                <label for="dan" class="text-info">Tip:</label><br>
                                <select name="dan" class="form-control" [(ngModel)]="this.ticket.tip" required>
                                    <option value="jednokratna" selected>Jednokratna</option>
                                        <option value="dnevna">Dnevna</option>
                                        <option value="mesecna" *ngIf="!applicationStudent && !applicationPensionary">Mesečna</option>
                                        <option value="mesecnaskolska" *ngIf="applicationStudent">Mesečna školska</option>
                                        <option value="mesecnapenzionerska" *ngIf="applicationPensionary">Mesečna penzionerska</option>
                                </select>
                            </div>
                            <div *ngIf="router.url !== '/add-ticket'" class="form-group" id="input">
                                <label for="dan" class="text-info">Tip karte:</label><br>
                                <input type="text" name="tip karte" value="{{this.ticket.tip}}" disabled>
                            </div>
                            <div class="form-group" id="buttons">
                                <button (click)="addTicket()" class="btn btn-primary">Potvrdi</button>
                                <button (click)="returnHome()" class="btn btn-danger">Otkaži</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>