<body>
    <div class="container">
        <div class="table-wrapper">
            <table class="table table-bordered table-hover table-dark">
                <thead>
                    <tr>
                        <th>ID cenovnika</th>
                        <th>Status</th>
                        <th>Važi od</th>
                        <th>Važi do</th>
                        <th>Tip karte</th>
                        <th>Cena</th>
                        <th style="width: 15%">Akcija</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let priceList of priceLists; let i = index">
                        <td>
                            {{priceList.id}}
                        </td>
                        <td *ngIf="priceList.aktivan">
                            Aktivan
                        </td>
                        <td *ngIf="!priceList.aktivan">
                            Neaktivan
                        </td>
                        <td>
                            {{priceList.datumOd | date}}
                        </td>
                        <td>
                            {{priceList.datumDo | date}}
                        </td>
                        <td>
                            {{priceList.tipKarte}}
                        </td>
                        <td>
                            {{priceList.cena}} din.
                        </td>
                        <td>
                            <button (click)='deletePriceList(priceList.id)' type="button" *ngIf="applicationEmployee" class="btn btn-danger">Deaktiviraj</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="form-group" id="button">
                <button id="return" (click)="returnHome()" class="btn btn-success">Početna stranica</button>
            </div>
        </div>
    </div>
</body>