<body>
    <div class="container">
        <div class="table-wrapper">

            <table class="table table-bordered table-hover table-dark">
                <thead>
                    <tr>
                        <!--<th *ngIf="rentaCarAdmin">ID</th> -->
                        <th>ID </th>
                        <th>Tip karte</th>
                        <th>Vazi Do</th>
                        <th>Aktivirana</th>
                        <th style="width: 15%">Action</th>
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let ticket of tickets; let i = index">
                        <!-- <td *ngIf="rentaCarAdmin"> -->
                        <td>
                            {{ticket.id}}.
                        </td>
                        <td>
                            {{ticket.tip}}
                        </td>
                        <td>
                            {{ticket.vaziDo | date}}
                        </td>
                        <td>
                            {{ticket.aktivirana}}
                        </td>
                        <td>
                            <button (click)='deleteTicket(ticket.id)' type="button" class="btn btn-danger">Delete</button>
                            <button type="button" (click)='activateTicket(ticket.id)' class="btn btn-warning">Activate</button>
                        </td>
                    </tr>

                </tbody>
            </table>
            <div class="clearfix">
            </div>
        </div>

    </div>


</body>