<body>
    <div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-7">
                        <form class="form" action="" method="post">
                            <h3 class="text-center text-info">Novo stajalište</h3>
                            <div class="form-group">
                                <label for="naziv" class="text-info">Naziv:</label><br>
                                <input type="text" name="naziv" class="form-control" placeholder="Naziv" [(ngModel)]="this.stop.naziv" required>
                            </div>
                            <div class="form-group">
                                <label for="adresa" class="text-info">Koordinate:</label><br>
                                <input type="number" name="lokacijaX" id="lokacijaX" step="0.0001" placeholder="45.123" [(ngModel)]="this.stop.lokacijaX" required>
                                <input type="number" name="lokacijaY" id="lokacijaY" step="0.0001" placeholder="19.123" [(ngModel)]="this.stop.lokacijaY" required>
                            </div>
                            <div class="form-group">
                                <label for="adresa" class="text-info">Adresa:</label><br>
                                <input type="text" id="aresa" name="adresa" class="form-control" placeholder="Ulica i broj" [(ngModel)]="this.stop.adresa" required>
                            </div>
                        
                            <div class="form-group" id="buttons">
                                <button (click)="addStop()" class="btn btn-primary">Sačuvaj</button>
                                <button (click)="returnHome()" class="btn btn-danger">Otkaži</button> 
                            </div>                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
