<body>
    <div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form class="form" action="" method="post">
                            <h3 class="text-center text-info">Novo vozilo</h3>
                            <div class="form-group">
                                <label for="line_id" class="text-info">Linija ID:</label><br>
                                <input type="text" name="line_id" class="form-control" [(ngModel)]="this.vehicle.linijaString">
                            </div>

                            <div class="form-group">
                                <label for="dan" class="text-info">Tip vozila:</label><br>
                                <select name="dan" class="form-control" [(ngModel)]="this.vehicle.tip" required>
                                    <option value="autobus" selected>Autobus</option>
                                    <option value="tramvaj">Tramvaj</option>
                                    <option value="metro">Metro</option>
                                </select>
                            </div>

                            <div class="form-group" id="buttons">
                                <button (click)="addVehicle()" class="btn btn-primary">Sačuvaj</button>
                                <button (click)="returnHome()" class="btn btn-danger">Otkaži</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>